*{
    padding: 0px;
    margin: 0px;
    font-family:  "Product Sans Medium",sans-serif ,Arial, Helvetica !important;
}
@media (prefers-color-scheme: dark) {
    :root{
        --text-header-banner-color: rgb(255,255,255);
        --main-text-color: rgb(255,255,255);
        --body-background-image: none;

        --secondery-color-dark: rgb(44, 44, 44);
        --primary-color: rgb(50,50,50);
        --secondery-color: rgb(60,60,60);
        --secondery-color-alt: rgb(70,70,70);

        --primary-color-transparent: rgb(50,50,50, 0.5);
        --secondery-color-transparent: rgba(60,60,60, 0.5);
        --secondery-color-alt-transparent: rgb(70,70,70, 0.5);

        --invert-color-transparent: rgba(202, 202, 202, 0.5);

        --primary-border-color: rgb(108, 108, 108);
        --secondery-border-color: rgb(135, 135, 135);
        --secondery-border-color-alt: rgb(149, 149, 149);
    }
}
@media (prefers-color-scheme: light) {
    :root{
        --text-header-banner-color: rgb(20,20,20);
        --main-text-color: rgb(0,0,0);
        --body-background-image: url("backgrounds.png");

        --secondery-color-dark: rgb(255, 255, 255);
        --primary-color: rgb(255, 255, 255);
        --secondery-color: rgb(238, 238, 238);
        --secondery-color-alt: rgb(255, 255, 255);

        --primary-color-transparent: rgb(210, 210, 210, 0.5);
        --secondery-color-transparent: rgb(200, 200, 200, 0.5);
        --secondery-color-alt-transparent: rgb(190, 190, 190, 0.5);

        --primary-border-color: rgb(185, 185, 185);
        --secondery-border-color: rgb(220, 220, 220);
        --secondery-border-color-alt: rgb(97, 97, 97);
        
        --invert-color-transparent: rgba(41, 41, 41, 0.5);
    }
}
:root{
    --max-width-custom: 1200px;
    --backimg: url('./Assets/img/home_banner.jpg');
    --memes: url('What.jpeg');
    --memes-archive: url('Objects/archives_KGS_shutterstock_287437913web.jpg');
}
pre{
    padding: 15px;
    background-color: var(--secondery-color-alt);
    margin-bottom: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
body{
    background-image: var(--body-background-image);
    background-color: var(--primary-color);
    /* background: repeating-linear-gradient(45deg, rgb(20, 42, 206) 00px, rgb(20, 42, 206) 50px,#9014ce 50px, #9014ce 100px); */
    /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
     */
     display: flex;
     flex-direction: column;
    align-items: center;
}
/* normal button */
.btn-nornal {
    transition: box-shadow 0.3s ease, background 0.3s ease, border 0.1s ease;
    padding: 4px 8px;
    font-size: 16px;
    background: var(--secondery-color);
    color: var(--main-text-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    cursor: pointer;
}
.btn-nornal:hover {
    padding: 4px 8px;
    font-size: 16px;
    background: var(--primary-color);
    color: var(--main-text-color);
    border: 1px solid var(--secondery-border-color);
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.5);
}
/*  */
.header #video-header {
    z-index: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    pointer-events: none;
}
.header-alert {
    width: -webkit-fill-available;
    padding: 24px;
    background-color: orange;
}
/* .header-alert .alert-content {

} */
/*  */
.list-container{
    color: var(--main-text-color);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.MainContainer{
    padding-top: 32px;
    margin-top: 130px;
    z-index: 50;
    background: var(--secondery-color);
    max-width: var(--max-width-custom);
    width: -webkit-fill-available;
    top: 130px;
    border-radius: 6px;
    box-shadow: 0px 4px 24px 6px rgba(0,0,0,0.4);
    margin-bottom: 24px;
    overflow: hidden;
    /* left: 50%; */
    /* transform: translate(-50%,0%); */
    /* position: absolute; */
}
.pagebottom{
    padding-bottom: 0px;
}
.website-footer{
    padding: 30px;
    background: var(--secondery-color-alt);
    color: var(--main-text-color);
}
.custom-HR{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
    background: var(--main-text-color);
}
.List-container-text{
    font-weight: 500;
}

.background-1{
    background: var(--primary-color);
}
.background-2{
    background: var(--secondery-color);
}
.background-3{
    background: var(--secondery-color-alt);
}
/* Steam games */
.games-list .game {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 4px;
}
.games-list .game img{
    margin: 8px;
    display: block;
}
/* .games-list .game:hover {
    box-shadow: inset 0 0 0 1px black, 0 0 0 1px white, 0px 3px 5px 2px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #1b2838, #264264);
} */
.games-list .game .info {
    width:-webkit-fill-available;
    margin: 12px;
    margin-right: 0px;
}
.games-list .game .steam-info {
    /* padding: 12px; */
    margin-top: 12px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
}
.games-list .game a {
    text-decoration: none;
}
.btn-steam-a {
    text-decoration: none;
}
/* Projects */
.Portfolio-projects {
    gap: 4px;
    display: flex;
    flex-direction: column;
}
.Portfolio-projects .project-item {
    position: relative;
    display: flex; 
    justify-content: space-between;
    padding: 0px 0px;
    padding-left: 12px;
    transition: box-shadow 0.3s ease, background 0.3s ease;
    border-radius: 4px;
}
.Portfolio-projects .project-item:hover {
    /* color: white; */
    background: var(--secondery-color);
    /* background: linear-gradient(to bottom); */
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--secondery-border-color-alt);
}
.Portfolio-projects .project-item .info{
    padding: 12px 0px;
    display: flex; 
    justify-content:center;
    flex-direction: column;
}
.Portfolio-projects .project-item .item-MoreInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    z-index: 3;
}
.Portfolio-projects .project-item .item-MoreInfo a{
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.Portfolio-projects .project-item .item-MoreInfo a button{
    pointer-events: all;
    width: -webkit-fill-available;
}
.Portfolio-projects .project-item.magic-border {
    --color-start: rgb(202, 39, 217);
    --color-2: rgb(39, 149, 217);
    --color-3: rgb(255, 130, 203);
    /* background: linear-gradient(to right ,var(--color-start), var(--color-2),var(--color-3), var(--color-start)); */
    background-size: 200%;
    animation: background-pan-box-shadow 3s infinite linear;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--secondery-border-color-alt);
}
.Portfolio-projects .project-item .Magical-Text {
    --color-start: rgb(202, 39, 217);
    --color-2: rgb(39, 149, 217);
    --color-3: rgb(255, 130, 203);
    background: linear-gradient(to right ,var(--color-start), var(--color-2),var(--color-3), var(--color-start));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s infinite linear;
}
@keyframes background-pan {
    from { background-position: 0%}
    to { background-position: 200%;}
}
@keyframes background-pan-box-shadow {
    0% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-start); }
    30% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-2); }
    60% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-3); }
    100% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-start); }
}
/*  */
@media(max-width: 1300px) {
    .MainContainer{
        margin-top: 130px;
    }
}
@media(max-width: 800px) {
    .MainContainer{
        margin-top: 100px;
    }
    .Portfolio-projects .project-item {
        display: flex; 
        flex-direction: column;
        padding-left: 0px;
    }
    .Portfolio-projects .project-item .info{
        padding: 12px;
        display: flex; 
        justify-content:center;
        flex-direction: column;
    }    
    .Portfolio-projects .project-item .item-MoreInfo {
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
    }
    /* .Portfolio-projects .project-item .item-MoreInfo a{
        width: 100%;
    } */
}
@media(max-width: 600px) {
    /* Games - unused */
    .games-list .game {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        align-items: stretch;
    }
    .games-list .game .info {
        margin: 12px;
    }
    .games-list .game img{
        width: -webkit-fill-available;
    }
    .games-list .game  button, .games-list .game  a {
        width: -webkit-fill-available;
    }
    /* Steam games */
}
