*{
    padding: 0px;
    margin: 0px;
    font-family:  "Product Sans Medium",sans-serif ,Arial, Helvetica !important;
}
:root {
    --color-start: rgb(202, 39, 217);
    --color-2: rgb(39, 149, 217);
    --color-3: rgb(255, 130, 203);
}
/* @media (prefers-color-scheme: dark) { */
    :root{
        --text-header-banner-color: rgb(255,255,255);
        --main-text-color: rgb(255,255,255);
        --body-background-image: none;

        --secondery-color-dark: rgb(44, 44, 44);
        --primary-color: rgb(50,50,50);
        --secondery-color: rgb(60,60,60);
        --secondery-color-alt: rgb(70,70,70);

        --primary-color-transparent: rgb(50,50,50, 0.5);
        --secondery-color-transparent: rgba(60,60,60, 0.5);
        --secondery-color-alt-transparent: rgb(70,70,70, 0.5);

        --invert-color-transparent: rgba(202, 202, 202, 0.5);

        --primary-border-color: rgb(108, 108, 108);
        --secondery-border-color: rgb(135, 135, 135);
        --secondery-border-color-alt: rgb(149, 149, 149);
    }
/* } */
/* @media (prefers-color-scheme: light) {
    :root{
        --text-header-banner-color: rgb(20,20,20);
        --main-text-color: rgb(0,0,0);
        --body-background-image: url("backgrounds.png");

        --secondery-color-dark: rgb(255, 255, 255);
        --primary-color: rgb(255, 255, 255);
        --secondery-color: rgb(238, 238, 238);
        --secondery-color-alt: rgb(255, 255, 255);

        --primary-color-transparent: rgb(210, 210, 210, 0.5);
        --secondery-color-transparent: rgb(200, 200, 200, 0.5);
        --secondery-color-alt-transparent: rgb(190, 190, 190, 0.5);

        --primary-border-color: rgb(185, 185, 185);
        --secondery-border-color: rgb(220, 220, 220);
        --secondery-border-color-alt: rgb(97, 97, 97);
        
        --invert-color-transparent: rgba(41, 41, 41, 0.5);
    }
} */
:root{
    --max-width-custom: 1200px;
    --backimg: url('./Assets/img/home_banner.jpg');
    --memes: url('What.jpeg');
    --memes-archive: url('Objects/archives_KGS_shutterstock_287437913web.jpg');
}
pre{
    padding: 15px;
    background-color: var(--secondery-color-alt);
    margin-bottom: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
body{
    background-image: var(--body-background-image);
    background-color: var(--primary-color);
    /* background: repeating-linear-gradient(45deg, rgb(20, 42, 206) 00px, rgb(20, 42, 206) 50px,#9014ce 50px, #9014ce 100px); */
    /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
     */
     display: flex;
     flex-direction: column;
    align-items: center;
}
/* normal button */
button {
    transition: box-shadow 0.3s ease, background 0.3s ease, border 0.1s ease;
    padding: 4px 8px;
    font-size: 16px;
    background-color: var(--secondery-color);
    color: var(--main-text-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    cursor: pointer;
}
button:hover  {
    background-color: var(--primary-color);
    color: var(--main-text-color);
    border: 1px solid var(--secondery-border-color);
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.5);
}
/*  */
.header .img-header-lazy-loading {
    /* animation */
    /* animation: img-header-lazy-loading 1s ease-in-out infinite;   */
    background: linear-gradient(to right ,rgb(20,20,20), rgb(100,100,100), rgb(50,50,50), rgb(20,20,20));
    background-clip: text;
    background-size: 200%;
    animation: background-pan 3s infinite linear;
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.header.img-loaded .img-header-lazy-loading {
    opacity: 0;
}
@keyframes background-pan {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* lazy loading animation */
@keyframes img-header-lazy-loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header #video-header {
    z-index: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    width: -moz-available;
    height: -moz-available;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    pointer-events: none;
}
.header-alert {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 24px;
    background-color: orange;
}
/* .header-alert .alert-content {

} */
/*  */
.list-container{
    color: var(--main-text-color);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.MainContainer{
    padding-top: 32px;
    margin-top: 130px;
    z-index: 50;
    background-color: var(--secondery-color);
    max-width: var(--max-width-custom);
    width: -webkit-fill-available;
    width: -moz-available;
    top: 130px;
    border-radius: 6px;
    box-shadow: 0px 4px 24px 6px rgba(0,0,0,0.4);
    margin-bottom: 24px;
    overflow: hidden;
    /* left: 50%; */
    /* transform: translate(-50%,0%); */
    /* position: absolute; */
}
.pagebottom{
    padding-bottom: 0px;
}
.website-footer{
    border-radius: 6px;
    padding: 30px;
    background: var(--secondery-color-alt);
    color: var(--main-text-color);
}
.custom-HR{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
    background: var(--main-text-color);
}
.List-container-text{
    font-weight: 500;
}

.background-1{
    background: var(--primary-color);
}
.background-2{
    background: var(--secondery-color);
}
.background-3{
    background: var(--secondery-color-alt);
}
/* Steam games */
.games-list .game {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 4px;
}
.games-list .game img{
    margin: 8px;
    display: block;
}
/* .games-list .game:hover {
    box-shadow: inset 0 0 0 1px black, 0 0 0 1px white, 0px 3px 5px 2px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #1b2838, #264264);
} */
.games-list .game .info {
    width:-webkit-fill-available;
    margin: 12px;
    margin-right: 0px;
}
.games-list .game .steam-info {
    /* padding: 12px; */
    margin-top: 12px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
}
.games-list .game a {
    text-decoration: none;
}
.btn-steam-a {
    text-decoration: none;
}
/* Projects */
.Portfolio-projects {
    gap: 4px;
    display: flex;
    flex-direction: column;
}
.Portfolio-projects .project-item {
    position: relative;
    display: flex; 
    justify-content: space-between;
    padding: 0px 0px;
    padding-left: 12px;
    transition: box-shadow 0.3s ease, background 0.3s ease;
    border-radius: 4px;
}
.Portfolio-projects .project-item .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    align-items: center;
}
.Portfolio-projects .project-item .tags .tag {
    border-radius: 12px;
    padding: 4px 8px;
    background: var(--secondery-color-alt);
    border: 1px solid var(--secondery-border-color-alt);
    color: var(--main-text-color);
    font-size: 12px;
    font-weight: 500;
    transition: box-shadow 0.3s ease;
}
.Portfolio-projects .project-item .tags .tag[warn] {
    background: rgb(133, 133, 8);
    border: 1px solid rgb(255, 255, 0);
    color: var(--main-text-color);
}
.Portfolio-projects .project-item .tags .tag:hover {
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--secondery-border-color-alt);
}
.Portfolio-projects .project-item:hover {
    /* color: white; */
    background: var(--secondery-color);
    /* background: linear-gradient(to bottom); */
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--secondery-border-color-alt);
}
.Portfolio-projects .project-item .info,
.Portfolio-projects .project-item .project-item-description {
    z-index: 2;
    padding: 12px 0px;
    display: flex; 
    justify-content:center;
    flex-direction: column;
}
.Portfolio-projects .project-item .item-MoreInfo,
.Portfolio-projects .project-item .project-item-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    z-index: 3;
}
.Portfolio-projects .project-item .item-MoreInfo a{
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.Portfolio-projects .project-item .item-MoreInfo a button{
    pointer-events: all;
    width: -webkit-fill-available;
    width: -moz-available;
}
.Portfolio-projects .project-item .special-background {
    --bkg: attr(src url);
    position: absolute;
    margin: 1px;
    border-radius: 1px;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0.3;
    background-image: var(--bkg) ;
    background-size: cover;
    z-index: 0;
}
.Portfolio-projects .project-item.magic-border {
    /* background: linear-gradient(to right ,var(--color-start), var(--color-2),var(--color-3), var(--color-start)); */
    background-size: 200%;
    animation: background-pan-box-shadow 3s infinite linear;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--secondery-border-color-alt);
}
.Portfolio-projects .project-item .Magical-Text {
    background: linear-gradient(to right ,var(--color-start), var(--color-2),var(--color-3), var(--color-start));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s infinite linear;
}
@keyframes background-pan {
    from { background-position: 0%}
    to { background-position: 200%;}
}
@keyframes background-pan-box-shadow {
    0% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-start); }
    30% { box-shadow: 0px 0px 8px 2px var(--color-2), inset 0 0 0 1px var(--color-2); }
    60% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-3); }
    100% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-start); }
}
/*  */
.user-info-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 4px;
    background: var(--secondery-color);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--secondery-border-color-alt);
}
/* data-bkg */
.user-info-card .custom-bkg {
    --bkg: attr(data-bkg url);
    position: absolute;
    margin: 1px;
    border-radius: 1px;
    z-index: -5;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 1;
    z-index: 0;
    /* mask background */
}
.user-info-card .custom-bkg[layout="gradient"] {
    max-height: 156px;
    mask: linear-gradient(to bottom,rgb(0,0,0,0.3) 20%, transparent 100%);
    -webkit-mask: linear-gradient(to bottom,rgb(0,0,0,0.3) 20%, transparent 100%);
}
.user-info-card .custom-bkg[layout="full"] {
    opacity: 0.3;
}
.user-info-card .custom-bkg img{
    object-fit: cover;
    display: grid;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    /* center image */
    object-position: center;
}
.user-info-card .user-info{
    position: relative;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    /* animation: background-pan-box-shadow 3s infinite linear; */
}
.user-info-card .user-info .user-icon {
    width: 32px; height: 32px;
    border-radius: 50%;
    margin: 8px;
}
/* .user-info-card .user-icon {

} */
/*  */
@media(max-width: 1300px) {
    .MainContainer{
        margin-top: 130px;
    }
}
@media(max-width: 800px) {
    .MainContainer{
        margin-top: 100px;
    }
    .Portfolio-projects .project-item {
        display: flex; 
        flex-direction: column;
        padding-left: 0px;
    }
    .Portfolio-projects .project-item .info{
        padding: 12px;
        display: flex; 
        justify-content:center;
        flex-direction: column;
    }    
    .Portfolio-projects .project-item .item-MoreInfo ,
    .Portfolio-projects .project-item .project-item-links {
    padding-top: 0px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
    }
    /* .Portfolio-projects .project-item .item-MoreInfo a{
        width: 100%;
    } */
}
@media(max-width: 600px) {
    /* Games - unused */
    .games-list .game {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        align-items: stretch;
    }
    .games-list .game .info {
        margin: 12px;
    }
    .games-list .game img{
        width: -webkit-fill-available;
    }
    .games-list .game  button, .games-list .game  a {
        width: -webkit-fill-available;
    }
    /* Steam games */
    .Portfolio-projects .project-item .tags {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        align-items: center;
    }
    .Portfolio-projects .project-item .tags .tag {
        width: -webkit-fill-available;
        width: -moz-available;
    }
}
/* Fonts: Product Sans Medium */
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Product Sans Medium'), local('ProductSans-Medium'), url(https://fonts.gstatic.com/s/productsans/v9/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*  */

.index-nav-container {
    padding: 0 24px;
}
.index-nav-container .index-nav {
    display: flex;
    gap: 12px;
}

#snowcanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}