.Magical-Border {
    /* background: linear-gradient(to right ,var(--color-start), var(--color-2),var(--color-3), var(--color-start)); */
    background-size: 200%;
    animation: background-pan-box-shadow 3s infinite linear;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--secondery-border-color-alt);
}
.Magical-Text {
    background: linear-gradient(to right ,var(--color-start), var(--color-2),var(--color-3), var(--color-start));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s infinite linear;
}
.garfield-Text {
    
    background: linear-gradient(30deg, black 0%, black 45%,  orange 45%, orange 90%, black 90%, black 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s infinite linear;
}
.hell-text {
    background: url(https://media0.giphy.com/media/3o85xJY1FaLzqeoBGw/giphy.gif);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}
@keyframes background-pan {
    from { background-position: 0%}
    to { background-position: 200%;}
}
@keyframes background-pan-box-shadow {
    0% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-start); }
    30% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-2); }
    60% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-3); }
    100% { box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6), inset 0 0 0 1px var(--color-start); }
}